.nav {
    margin: 30px;
    padding: 20px;
    display: float;
    flex-direction: row;
    background-color: violet;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

